[submodule "tests/clar"]
	path = vendor/clar
	url = https://github.com/clar-test/clar
[submodule "vendor/termbox"]
	path = vendor/termbox
	url = https://github.com/nsf/termbox
[submodule "vendor/libclipboard"]
	path = vendor/libclipboard
	url = https://github.com/jtanx/libclipboard
