[submodule "tests/clar"]
	path = vendor/clar
	url = https://github.com/clar-test/clar
[submodule "vendor/termbox"]
	path = vendor/termbox
	url = https://github.com/tomas/termbox
[submodule "vendor/libclipboard"]
	path = vendor/libclipboard
	url = https://github.com/jtanx/libclipboard
[submodule "vendor/pcre2"]
	path = vendor/pcre2
	url = https://github.com/BurntSushi/pcre2-mirror.git
	branch = release/10.32
